<!DOCTYPE html>
<html>
    <head>
        <title>Rails Chat</title>
        <%= csrf_meta_tags %>
        <%= action_cable_meta_tag %>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script>const authenticity_token = '<%= form_authenticity_token %>';</script>
        <script>const messageURL = '<%=  Rails.env.production? ? 'https://actioncable-chat-app.herokuapp.com/api/messages' : 'http://localhost:3000/api/messages' %>';</script>
        <script>let userList = <%= raw @users %>;</script>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
